body {
	font-family: 'Montserrat', sans-serif;
	background: #fff;
	font-style:initial;
}



/*CABECALHO INICIO*/
header {
    background-color: #000;
    box-shadow: 0px 3px 10px #464646;
	height: 250px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

#logo {
	margin-top: 30px;
	margin-left: 300px;
	width: 10%;
}

.nav-list {
    display: flex;
    align-items: center;
	margin-right: 400px;
	margin-top: 35px;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}
/*CABECALHO FIM*/



/*APRESENTACAO INICIO*/
#inicio1 {
	height: 600px;
}

.titulo-principal {
	text-align: center;
	font-size: 55px;
	margin: 0 0 1em;
	font-weight: bold;
}

.principal {
	padding: 3em 0;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 57px;
	font-size: 22px;
}

#pfts {
	width: 35%;
	float: left;
	margin: 0 20px 20px 0;
	border-radius: 3px;
	transition: 1ms;
}
/*APRESENTACAO FIM*/



/*MAPA INICIO*/
#mapa p {
	margin: 0 0 2em;
	text-align: center;
}
/*MAPA FIM*/



/*BARBEIROS INICIO*/
#barbers {
	width: 80%;
}

.barbeirosc {
	display: flex;
}

.barbeirosc li {
    text-align: center;
}

.barbeirosc li a {
	text-decoration: none;
	color: #000;
}

.galeriasfts {
  	width: 60%;
    border-radius: 10px;
}

.nbarbers {
	font-size: 55px;
}
/*BARBEIROS FIM*/



/*ATENDIMENTO INICIO*/
#atendimento {
	height: 600px;
}

#atendt {
	text-align: center;
	font-size: 55px;
	font-weight: bold;
}

.atendh {
	text-align: center;
}

.atendp {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	text-decoration: underline;
}

#atendimento p {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}

#precos {
	width: 35%;
	float: right;
	border-radius: 3px;
}
/*ATENDIMENTO FIM*/



/*RODAPE INICIO*/
footer {
	background: #000;
	height: 250px;
	box-shadow: 0px 3px 10px #464646;
}

.numctt {
	color: #FFF;
    text-align: right; 
    margin-right: 250px;
	margin-top: -50px;
}

#insta {
	width: 2%;
	float: right;
 	margin-right: 200px;
	margin-top: -35px;
}
/*RODAPE FIM*/



/*RESOLUCOES DE OUTRAS TELAS*/
@media screen and (max-width: 1500px) {
	header {
		height: 150px;
	}

	#logo {
		width: 10%;
		margin-top: 10px;
		margin-left: 200px;
	}

	#inicio1 {
		height: 500px;
	}

	.nav-list {
		margin-right: 300px;
		margin-top: 15px;
	}

	.numctt {
		margin-right: 100px;
		margin-top: -20px;
	}

	#insta {
		width: 3%;
		margin-right: 55px;
		margin-top: -35px;
	}

	footer {
		height: 170px;
	}
}

@media screen and (max-width: 1200px) {
	#logo {
		width: 13%;
		margin-top: 20px;
		margin-left: 100px;
	}
	.nav-list {
		margin-right: 200px;
		margin-top: 25px;
	}
}


@media screen and (max-width: 950px) {
	#logo {
		width: 15%;
		margin-top: 20px;
		margin-left: 100px;
	}
	.nav-list {
		margin-right: 100px;
		margin-top: 25px;
	}

	.principal {
		width: 80%;
	}

	.titulo-principal, #atendt {
		font-size: 25px;
	}

	#inicio1 {
		height: 350px;
		margin-top: -50px;
	}

	#barbers {
		height: 530px;
	}

	#atendimento {
		height: 450px;
	}

	#mapa {
		height: 450px;
	}

	#inicio1 p, #mapa p {
		font-size: 16px;
	}

	.galeriasfts {
		width: 90%;
  	}

	.nbarbers, .atendp {
		font-size: 20px;
	}

	#precos {
		margin-left: 30px;
	}

	.numctt {
		margin-right: 80px;
		margin-top: -40px;
		font-size: 12px;
	}

	#insta {
		margin-right: 45px;
		margin-top: -25px;
	}
}

@media screen and (max-width: 850px) {
	header {
		height: 100px;
	}

	#logo {
		margin-top: 0px;
		margin-left: 25px;
	}

	.nav-list {
		margin-right: 105px;
		margin-top: 0px;
	}

	#inicio1 p, #mapa p, .nav-link {
		font-size: 14px;
	}

	.titulo-principal, #atendt, .atendp  {
		font-size: 20px;
	}

	#inicio1 {
		height: 270px;
	}

	#barbers {
		height: 450px;
	}

	#atendimento {
		height: 380px;
	}

	#mapa {
		height: 400px;
	}

	#inicio1 p, #mapa p {
		font-size: 14px;
	}

	.numctt {
		font-size: 10px;
	}

	footer {
		height: 120px;
	}
}

@media screen and (max-width: 768px) {
	.nav-list {
		margin-right: 25px;
	}

	.nav-link {
		font-size: 14px;
	}

	.principal p {
		margin: 0 0 15px;
		font-size: 22px;
	}

	#inicio1 {
		height: 300px;
	}

	#inicio1 p, #mapa p {
		font-size: 15px;
	}

	.numctt {
		margin-right: 60px;
		margin-top: -30px;

	}

	#insta {
		margin-right: 35px;
		margin-top: -20px;
	}

	footer {
		height: 120px;
	}
}

@media screen and (max-width: 700px) {

	.nav-list {
		margin-right: 65px;
	}

	.nav-link {
		font-size: 14px;
	}

	.titulo-principal {
		font-size: 20px;
	}

	.principal p {
		margin: 0 0 0px;
	}

	#inicio1 {
		height: 250px;
	}

	#mapa {
		height: 400px;
	}

	#inicio1 p, #mapa p {
		font-size: 13.8px;
	}

	.atendh {
		margin-bottom: 35px;
	}
}

@media screen and (max-width: 650px) {
	#logo {
		width: 20%;
	}

	.nav-link {
		font-size: 13px;
	}

	.titulo-principal, #atendt {
		font-size: 20px;
	}

	.principal p {
		margin: 0 0 0px;
	}

	#inicio1 {
		height: 200px;
	}

	#barbers {
		height: 350px;
	}

	#mapa {
		height: 350px;
	}

	#inicio1 p, #mapa p, .atendh {
		font-size: 12px;
	}
	
	#precos {
		width: 50%;
	}

	.atendp {
		font-size: 14px;
	}
}

@media screen and (max-width: 600px) {
	.nav-list {
		margin-right: 20px;
	}

	.apagar {
		opacity: 0;
		display: block;
		display: none;
	}

	#inicio1 {
		height: 110px;
		margin-top: -10px;
	}

	#barbers {
		height: 320px;
	}

	#atendimento {
		height: 320px;
	}

	.atendh {
		font-size: 12px;
	}

	#mapa {
		height: 400px;
	}

	#inicio1 p, #mapa p {
		font-size: 12px;
	}

	.numctt {
		margin-right: 40px;
		margin-top: -20px;
	}

	#insta {
		margin-right: 20px;
		width: 3.5%;
	}
}

@media screen and (max-width: 520px) {
	#logo {
		width: 30%;
		margin-left: 0px;
	}

	.nav-list {
		margin-right: 0px;
	}

	.titulo-principal, #atendt {
		font-size: 18px;
	}

	.principal p {
		margin: 0 0 0px;
	}

	#inicio1 {
		height: 90px;
		width: 90%;
		margin-top: -10px;
	}

	#barbers {
		height: 290px;
	}

	.barbeirosc {
		margin-top: -20px;
	}

	#atendimento {
		height: 340px;
	}

	.atendh {
		font-size: 12px;
	}

	.atendp {
		font-size: 13px;
	}

	#mapa {
		height: 400px;
	}

	#inicio1 p, #mapa p {
		font-size: 12px;
	}
}

@media screen and (max-width: 450px) {
	#logo {
		width: 35%;
	}

	.nav-list {
		margin-right: -10px;
	}

	.titulo-principal, #atendt {
		font-size: 18px;
	}

	.principal p {
		margin: 0 0 0px;
	}

	#inicio1 {
		height: 60px;
		width: 90%;
		margin-top: -10px;
	}

	#barbers {
		height: 220px;
	}

	#atendimento {
		height: 260px;
	}

	#atendt {
		margin-bottom: -20px;
	}

	.atendh {
		font-size: 10px;
		margin-bottom: 20px;
	}

	.atendp {
		font-size: 13px;
		margin-bottom: -20px;
	}

	#precos {
		width: 55%;
		margin-right: -20px;
	}

	#mapa {
		height: 350px;
	}

	#inicio1 p, #mapa p {
		font-size: 10px;
	}
}

@media screen and (max-width: 400px) {
	header, footer {
		height: 80px;
	}
	#logo {
		margin-left: -25px;
		margin-top: -10px;
	}
	.nav-link {
		margin-right: -20px;
	}
	
	.titulo-principal, #atendt, .nbarbers {
		font-size: 15px;
	}

	.principal p {
		margin-top: -15px;
	}

	#pfts {
		margin-right: 10px;
	}

	#inicio1 {
		height: 25px;
		margin-top: -20px;
	}

	#barbers {
		width: 90%;
		height: 230px;
	}

	.barbeirosc {
		margin-top: -20px;
	}

	.galeriasfts {
		width: 95%;
	}

	#atendimento {
		height: 220px;
	}

	#atendt {
		margin-top: -50px;
	}

	.atendh {
		font-size: 12px;
		margin-bottom: 20px;
	}

	.atendp {
		font-size: 12px;
		margin-bottom: -20px;
	}

	#mapa {
		height: 300px;
	}

	#inicio1 p, #mapa p, .atendh {
		font-size: 10px;
	}

	.atendh {
		margin-bottom: 25px;
	}

	.numctt, #insta {
		display: none;
	}
}

@media screen and (max-width: 350px) {
	header {
		height: 75px;
	}

	#logo {
		margin-left: -45px;
		margin-top: -10px;
		width: 50%;
	}

	.nav-link {
		font-size: 10px;
	}
	
	.titulo-principal, #atendt, .nbarbers {
		font-size: 13px;
	}

	.principal p {
		margin-top: -15px;
		font-weight: bold;
	}

	#pfts {
		margin-right: 10px;
		width: 40%;
	}

	#inicio1 {
		width: 95%;
		height: 15px;
		margin-top: -20px;
	}

	#barbers {
		width: 95%;
		height: 180px;
	}

	.barbeirosc {
		margin-top: -35px;
	}

	.galeriasfts {
		width: 95%;
	}

	#atendimento {
		height: 180px;
	}

	#atendt {
		margin-top: -50px;
	}

	.atendh {
		font-size: 12px;
		margin-bottom: 20px;
	}

	.atendp {
		font-size: 12px;
		margin-bottom: -20px;
	}

	#mapa {
		height: 300px;
	}

	#inicio1 p, #mapa p, .atendh {
		font-size: 9.1px;
	}

	.atendh {
		margin-bottom: 25px;
	}

	footer {
		height: 100px;
	}
}

@media screen and (max-width: 300px) {
	header {
		height: 75px;
	}

	#logo {
		width: 75%;
	}

	.nav-link {
		font-size: 10px;
	}
	
	.titulo-principal, #atendt, .nbarbers {
		font-size: 11px;
	}

	.principal p {
		margin-top: -15px;
		font-weight: bold;
	}

	#pfts {
		margin-right: 10px;
		width: 40%;
	}

	#inicio1 {
		width: 95%;
		height: 3px;
		margin-top: -20px;
	}

	#barbers {
		width: 95%;
		height: 150px;
	}

	.barbeirosc {
		margin-top: -35px;
	}

	.galeriasfts {
		width: 95%;
	}

	#atendimento {
		height: 180px;
	}

	#precos {
		width: 60%;
		margin-left: 10px;
	}

	#atendt {
		margin-top: -50px;
	}

	.atendh {
		font-size: 12px;
		margin-bottom: 20px;
	}

	.atendp {
		font-size: 9px;
		margin-bottom: -20px;
	}

	#mapa {
		height: 300px;
	}

	#inicio1 p, #mapa p, .atendh {
		font-size: 7.5px;
	}

	.atendh {
		margin-bottom: 25px;
	}

	.nav-bar {
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 250px) {
	header {
		height: 65px;
	}

	#logo {
		width: 120%;
		margin-left: -50px;
	}

	.nav-link {
		font-size: 10px;
	}

	.nav-list {
		margin-top: 0px;
		margin-right: -20px;
	}
	
	.titulo-principal, #atendt, .nbarbers {
		font-size: 11px;
	}

	.principal p {
		margin-top: -15px;
		font-weight: bold;
	}

	#pfts {
		margin-right: 5px;
		margin-bottom: 5px;
		width: 40%;
	}

	#inicio1 {
		width: 95%;
		height: 3px;
		margin-top: -30px;
	}

	#barbers {
		width: 95%;
		height: 150px;
	}

	.barbeirosc {
		margin-top: -35px;
	}

	.galeriasfts {
		width: 95%;
	}

	#atendimento {
		height: 180px;
	}

	#precos {
		width: 60%;
		margin-left: 10px;
	}

	#atendt {
		margin-top: -50px;
	}

	.atendh {
		font-size: 12px;
		margin-bottom: 20px;
	}

	.atendp {
		font-size: 9px;
		margin-bottom: -20px;
	}

	#mapa {
		height: 300px;
	}

	#inicio1 p, #mapa p, .atendh {
		font-size: 7.5px;
	}

	.atendh {
		margin-bottom: 25px;
	}

	.nav-bar {
		margin-bottom: 0px;
	}
}
